<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Concordia University Online Admission Application</title>
</head>
<br> 
<center>
<div class="icb-form">
  Application profiles is generated successfully. <br> To view it, you need to have PDF reader program installed in your computer'.
  <br>
  <a href="/pdfs/<%=@filename%>" target="_blank"> View </a>
<br> 
</div>
</center>
</html>
