<div class="main">
  <span style="color:#FF0000;text-align:center;">Congratulations! You have just successfully completed your Concordia University online instructor employment application.</span>
<br>
</div>
