<html>
<div class="header">
  <div class="people"></div>
  <div class="logo"><img src="<%= @email_logo %>" border="0"/></div>
</div>
<br>
Congratulations! You have successfully created your Concordia University online profile, the first step toward
completing your application for an online degree program at Concordia University. You are now one step closer to
realizing your higher education goals.<br><br>
The admissions application can be found <a href="<%= @login_url %>">here</a>. Please bookmark the site as well. An Enrollment Specialist will be
reaching out to you shortly to answer any of your questions and assist you in the application process.<br><br>
If you have any questions or are having any difficulty accessing the site, please call us at 1-877-251-4405.<br><br>
Your Enrollment Team<br>
Concordia University<br>
1-877-251-4405<br>
admissions@concordiaonline.net<br>
</html>