<html>
<div class="header">
  <div class="people"></div>
  <div class="logo"><img src="<%= @email_logo %>" border="0"/></div>
</div>
<br>
Dear <%= @user.instructor_name %><br><br>
Congratulations! You have just successfully completed your Concordia University online instructor employment application.<br><br>
If you have any question about your application, please call us at 1-877-251-4405 between 9 am - 5 pm EST, Monday through Friday for assistance. <br><br>
Our employment specialist will be contacting your shortly to assist you in the next steps of the application process.<br><br>

Sincerely,<br>
Online Instructor Team<br>
Concordia University<br>
1-877-251-4405<br>
admissions@concordiaonline.net<br>
</html>