<html>
<div class="header">
  <div class="people"></div>
  <div class="logo"><img src="<%= @email_logo %>" border="0"/></div>
</div>
Dear <%= @user.con_name %><br><br>
Congratulations!  You have just successfully completed your Concordia University online application.   You are one step closer to realizing your higher education goal.
<br><br>
If you have submitted the application and need to make a correction, please call us at 1-877-251-4405 between 9 am - 5 pm  EST, Monday through Friday for assistance.
<br><br>
An Enrollment Specialist will be contacting your shortly to assist you in the next steps of the application process.<br><br>

Sincerely,<br>

Your Enrollment Team<br>
Concordia University<br>
1-877-251-4405<br>
admissions@concordiaonline.net<br>
</html>