<html>
<div class="header">
  <div class="people"></div>
  <div class="logo"><img src="<%= @email_logo %>" border="0"/></div>
</div>
<br>
To reset the password for your <%= @login_url %> Concordia University online profile, click the link below:<br>

<a href="<%= @pwd_url %>"><%= @pwd_url %></a><br><br>

If clicking the link above doesn't work, please copy and paste the URL in a
new browser window instead.<br><br>

If you did not initiate the request, you don't need to take any further action and can
safely disregard this email.<br><br>

Thank you.<br><br>

Your Enrollment Team<br>
Concordia University<br>
1-877-251-4405<br>
admissions@concordiaonline.net<br>

</html>