    <div class="main_right">
    <div class="content_div">
      <div class="contright_title">Success</div>
      <div class="contright_cont">Thank you for submitting your application to Concordia.
    
      </div>
    </div>
  </div>
<div class="main_bottom"></div>
