<div class="foot">
<div align="center" style=" margin-top:10px;" >Concordia University respects your privacy. We do not share your personal information with any other schools or organizations.
  <br />
  <!--<br />-->
 Concordia University is accredited by the Northwest Commission on Colleges and Universities.
  <!--<br />-->
  <br />
© 2009 Concordia University. All rights reserved. </div>
  <!--Anti-Spam Policy-->
</div>